@use './partials/variables.scss' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.my-heading {
    font-family: 'Source Serif Pro', serif;
    color: $primarycolor;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
}

.my-subheading {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #979797;
    font-weight: 600;
}

.my-primary-btn {
    background-color: $primarycolor;
    color: white;
    padding: .75rem 2.25rem;
    border-radius: 8px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;

    &:hover {
        color: $primarycolor;
        background-color: $tertiarycolor;
        transform: scale(1.1);
        transition: .3s;
    }
}

.my-white-btn {
    background-color: white;
    color: $primarycolor;
    padding: .75rem 2.25rem;
    border-radius: 8px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;

    &:hover {
        background-color: $primarycolor;
        color: white;
        transform: scale(1.1);
        transition: .3s;
    }
}